<!-- 通用footer组件 -->
<div id="site-footer" class="witrfm_area">
  <!-- FOOTER MIDDLE AREA -->
  <div class="footer-middle">
     <div class="container">
        <div class="row">
           <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="widget widget_twr_description_widget">
                 <div class="metalplan-description-area">
                    <a href="#">
                     <div class="logo_new"></div>
                     <!-- <img src="static/new_image/logo_new.jpg" alt="image"> -->
                    </a>
<!--                    <div class="social-icons">-->
<!--                       <a href="https://www.facebook.com" target="_blank"><i class="icofont-facebook"></i></a>-->
<!--                       <a href="https://www.twitter.com" target="_blank"><i class="icofont-twitter"></i></a>-->
<!--                       &lt;!&ndash; <a href="#"><i class="icofont-rss"></i></a> &ndash;&gt;-->
<!--                       <a href="https://www.pinterest.com"><i class="icofont-pinterest"></i></a>-->
<!--                    </div>-->
                 </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="widget about_us">
                 <h2 class="widget-title">About Us</h2>
                 <div class="about-footer">
                    <div class="footer-widget address">
                       <div class="footer-address">
                          <div class="footer_s_inner">
                             <div class="footer-sociala-icon"> 
                                <i class="icofont-google-map"></i>
                             </div>
                             <div class="footer-sociala-info">
                                <p>District: Changsha City</p>
                             </div>
                          </div>
                          <div class="footer_s_inner">   
                             <div class="footer-sociala-icon">
                                <i class="icofont-google-map"></i>
                             </div>
                             <div class="footer-sociala-info">
                                <p>Adress: Building 5, Yuankang Xingduhui Community,Dongjing Middle Road,Yuhua</p>
                             </div>
                          </div>
                          <div class="footer_s_inner">
                             <div class="footer-sociala-icon">
                                <i class="icofont-phone"></i>
                             </div>
                             <div class="footer-sociala-info">
                                <p>Telephone: (+86) 18874938583</p>
                             </div>
                          </div>
                          <div class="footer_s_inner">
                             <div class="footer-sociala-icon">
                                <i class="icofont-envelope-open"></i>
                             </div>
                             <div class="footer-sociala-info">
                                <p>Contact: <a href="mailto:Sales@onetopsteel.com?subject=Hello&body=This is the body of the email.">Sales@onetopsteel.com</a></p>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="widget widget_nav_menu">
               <h2 class="widget-title">Our Service</h2>
               <div class="menu-our-service-container">
                  <ul class="menu">
                     <li><a href="products_second.html?t=1">STAINLESS STEEL PIPE</a></li>
                     <li><a href="products_second.html?t=2">Welded STEEL PIPE</a></li>
                     <li><a href="products_second.html?t=3">Oilfield Tubular Goods (OCTG)</a></li>
                     <li><a href="products_second.html?t=4">SMLS STEEL PIPE</a></li>
                     <li><a href="products_second.html?t=5">STEEL FITTINGS</a></li>
                     <li><a href="products_second.html?t=6">Steel Section</a></li>
                     <li><a href="products_second.html?t=7">Customize service</a></li>
                     <li><a href="products_second.html?t=8">Coated Steel Pipe</a></li>
                  </ul>
               </div>
            </div>
         </div>
         </div>
     </div>
  </div>
  <!-- END FOOTER MIDDLE AREA -->
  <!-- FOOTER BOTTOM AREA -->
  <div class="footer-bottom">
     <div class="container">
        <div class="row">
           <div class="col-lg-12 col-md-6">
              <div class="copy-right-text">
                 <p class="text-center">Copyright &copy; 2023.Company name All rights reserved.</p>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="../css/style.css">