<!-- 通用footer组件 -->
<div id="site-footer" class="witrfm_area">
  <!-- FOOTER MIDDLE AREA -->
  <div class="footer-middle">
     <div class="container">
        <div class="row">
           <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="widget widget_twr_description_widget">
                 <div class="metalplan-description-area">
                    <a href="#">
                     <div class="logo_new"></div>
                     <!-- <img src="static/new_image/logo_new.jpg" alt="image"> -->
                    </a>
                    <div class="social-icons">
                       <a href="https://api.whatsapp.com/send/?phone=8613203147121" target="whatsapp"><i class="icofont-whatsapp"></i></a>
                       <a href="https://www.linkedin.com/company/onetop-steel-co-ltd/posts/?feedView=all" target="linkedin"><i class="icofont-linkedin"></i></a>
                       <!-- <a href="#"><i class="icofont-rss"></i></a> -->
                       <a href="mailto:sales@onetopsteel.com?subject=Hello&body=This is the body of the email."><i class="icofont-email"></i></a>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="widget about_us">
                 <h2 class="widget-title" i18n="About Us">About Us</h2>
                 <div class="about-footer">
                    <div class="footer-widget address">
                       <div class="footer-address">
                          <div class="footer_s_inner">
                             <div class="footer-sociala-icon"> 
                                <i class="icofont-google-map"></i>
                             </div>
                             <div class="footer-sociala-info">
                                <p i18n="District: Changsha City">District: Changsha City</p>
                             </div>
                          </div>
                          <div class="footer_s_inner">   
                             <div class="footer-sociala-icon">
                                <i class="icofont-google-map"></i>
                             </div>
                             <div class="footer-sociala-info">
                                <p i18n="Adress: Building 5, Yuankang Xingduhui Community,Dongjing Middle Road,Yuhua">Adress: 1302 of Huachen Shuangfan International Building, No. 68, Section 2, Wanjialli Middle Road, Yuhua District, Changsha City, Hunan Province, P.R. China</p>
                             </div>
                          </div>
                          <div class="footer_s_inner">
                             <div class="footer-sociala-icon">
                                <i class="icofont-phone"></i>
                             </div>
                             <div class="footer-sociala-info">
                                <p><span i18n="Telephone:">Telephone:</span> (+86) 731 8554 8696</p>
                             </div>
                          </div>
                          <div class="footer_s_inner">
                             <div class="footer-sociala-icon">
                                <i class="icofont-envelope-open"></i>
                             </div>
                             <div class="footer-sociala-info">
                                <p><span i18n="Contact">Contact: </span><a href="mailto:Sales@onetopsteel.com?subject=Hello&body=This is the body of the email.">Sales@onetopsteel.com</a></p>
                             </div>
                          </div>
                          <div class="footer_s_inner">
                             <div class="footer-sociala-icon">
                                <i class="icofont-shield"></i>
                             </div>
                             <div class="footer-sociala-info">
                                <p><a href="privacy.html">Privacy Policy</a></p>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="widget widget_nav_menu">
               <h2 class="widget-title" i18n="Our Service">Our Service</h2>
               <div class="menu-our-service-container">
                  <ul class="menu">
                     <li><a href="products_second.html?t=1" i18n="STAINLESS STEEL PIPE">STAINLESS STEEL PIPE</a></li>
                     <li><a href="products_second.html?t=2" i18n="Welded STEEL PIPE">Welded STEEL PIPE</a></li>
                     <li><a href="products_second.html?t=3" i18n="Oilfield Tubular Goods (OCTG)">Oilfield Tubular Goods (OCTG)</a></li>
                     <li><a href="products_second.html?t=4" i18n="SMLS STEEL PIPE">SMLS STEEL PIPE</a></li>
                     <li><a href="products_second.html?t=5" i18n="STEEL FITTINGS">STEEL FITTINGS</a></li>
                     <li><a href="products_second.html?t=6" i18n="Steel Section">Steel Section</a></li>
                     <li><a href="products_second.html?t=7" i18n="Customize service">Customize service</a></li>
                     <li><a href="products_second.html?t=8" i18n="Coated Steel Pipe">Coated Steel Pipe</a></li>
                  </ul>
               </div>
            </div>
         </div>
         </div>
     </div>
  </div>
  <!-- END FOOTER MIDDLE AREA -->
  <!-- FOOTER BOTTOM AREA -->
  <div class="footer-bottom">
     <div class="container">
        <div class="row">
           <div class="col-lg-12 col-md-6">
              <div class="copy-right-text">
               <p class="text-center" i18n="Copyright © 2023.Company name All rights reserved.">Copyright &copy; 2023.Company name All rights reserved.</p>
                 <!-- <p class="text-center">Copyright &copy; 2023.Company name All rights reserved.</p> -->
              </div>
           </div>
        </div>
     </div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="../css/style.css">