<!-- 主菜单页header组件 -->

<div class="metalplan-main-menu one_page hidden-xs hidden-sm witr_h_h10" style="min-height: 128px;">
  <div class="metalplan_nav_area scroll_fixed postfix">
    <div class="container-fluid">
      <div class="row logo-left">
        <div class="col-md-3 col-sm-3 col-xs-4">
          <div class="logo">
            <a class="main_sticky_main_l" href="" title="metalplan">
              <img src="static/new_image/logo_new.jpg" alt="metalplan" />
            </a>
            <a class="main_sticky_l" href="" title="metalplan">
              <img src="static/new_image/logo_new.jpg" alt="metalplan" />
            </a>
          </div>
        </div>
        <!-- MAIN MENU -->
        <div class="col-md-9 col-sm-9 col-xs-8">
          <div class="tx_mmenu_together">
            <nav class="metalplan_menu">
              <ul class="sub-menu">
                <li>
                  <a href="index.html" i18n="home">Home</a>
                  <!-- <ul class="sub-menu">
                              <li><a href="">Home Main</a></li>
                              <li><a href="landing_page.html">Landing Page</a></li>
                              <li><a href="video_page.html">Video Page</a></li>
                           </ul> -->
                </li>
                <li>
                  <a href="about.html" i18n="about">About</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="products.html" i18n="Products">Products</a>
                  <ul class="sub-menu">
                    <!-- <li><a href="metal_works.html">Metal Works</a></li>
                              <li><a href="manufacturing.html">Manufacturing</a></li> -->
                    <li class="menu-item-has-children">
                      <a href="products_second.html?t=4" i18n="SMLS STEEL PIPE">SMLS STEEL PIPE</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="product/SSP2/CSP.html" i18n="Carbon Steel Pipe">Carbon Steel Pipe</a>
                        </li>
                        <li>
                          <a href="product/SSP2/BSP.html" i18n="Boiler Steel Pipe">Boiler Steel Pipe</a>
                        </li>
                        <li>
                          <a href="product/SSP2/SP.html" i18n="Structure Pipe">Structure Pipe</a>
                        </li>
                        <li>
                          <a href="product/SSP2/ASP.html" i18n="Alloy Steel Pipe">Alloy Steel Pipe</a>
                        </li>
                      </ul>
                    </li>

                    <li class="menu-item-has-children">
                      <a href="products_second.html?t=2" i18n="Welded STEEL PIPE">Welded STEEL PIPE</a>
                      <ul class="sub-menu">
                        <li><a href="product/WSP/SSAW.html" i18n="SSAW">SSAW</a></li>
                        <li><a href="product/WSP/LSAW.html" i18n="LSAW">LSAW</a></li>
                        <li><a href="product/WSP/ERW.html"  i18n="ERW">ERW</a></li>
                        <li><a href="product/WSP/EFW.html" i18n="EFW">EFW</a></li>

                        <li>
                          <a href="product/WSP/PilingPipe.html" i18n="Piling Pipe">Piling Pipe</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="products_second.html?t=3" i18n="Oilfield Tubular Goods (OCTG)">Oilfield Tubular Goods (OCTG)</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="product/OTG/A5T.html" i18n="API 5CT Tubing">API 5CT Tubing</a>
                        </li>
                        <li>
                          <a href="product/OTG/A5S.html" i18n="API 5CT Casing">API 5CT Casing</a>

                        </li>
                        <li><a href="product/OTG/SP.html" i18n="Slotted Pipe">Slotted Pipe</a></li>
                        <li><a href="product/OTG/DP.html" i18n="Drill Pipe">Drill Pipe And Drill Collar</a></li>
                        <li>
                          <a href="product/OTG/CCP.html" i18n="Coupling, Crossover and Pup Joint">Coupling, Crossover and Pup Joint</a
                          >
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="products_second.html?t=1" i18n="STAINLESS STEEL PIPE">STAINLESS STEEL PIPE</a>
                      <ul class="sub-menu">
                        <li>
                          <a href="product/SSP/SSP.html" i18n="Seamless Stainless Pipe">Seamless Stainless Pipe</a
                          >
                        </li>
                        <li>
                          <a href="product/SSP/WSSP.html" i18n="Welded Stainless Pipes">Welded Stainless Pipes</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="products_second.html?t=5" i18n="STEEL FITTINGS">STEEL FITTINGS</a>
                      <ul class="sub-menu">
                        <li><a href="product/SF/Flange.html" i18n="Flange">Flange</a></li>
                        <li><a href="product/SF/Elbow.html" i18n="Elbow">Elbow</a></li>
                        <li><a href="product/SF/Tee.html" i18n="Tee">Tee</a></li>
                        <li><a href="product/SF/Reducer.html" i18n="Reducer">Reducer</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="products_second.html?t=6" i18n="Steel Section">Steel Section</a>

                      <ul class="sub-menu">
                        <li>
                          <a href="product/SS/SPC.html" i18n="Steel Plate and Coil">Steel plate and coil</a>
                        </li>
                        <li><a href="product/SS/HS.html" i18n="Hollow Section">Hollow Section</a></li>
                        <li><a href="product/SS/HIBA.html" i18n="H&I BEAM, BAR AND ANGLE">H&I BEAM, BAR AND ANGLE</a></li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="products_second.html?t=7" i18n="Customize service">Customize service</a>
                      <ul class="sub-menu">
                        <li><a href="product/CS/CP.html" i18n="Conical Pipe">Conical Pipe</a></li>
                        <li><a href="product/CS/PT.html" i18n="Pipe Truss">Pipe Truss</a></li>
                        <li><a href="#">Welding</a></li>
                        <li>
                          <a href="product/CS/CF.html" i18n="Customize Fittings">Customize Fittings</a>
                        </li>
                      </ul>
                    </li>
                    <li class="menu-item-has-children">
                      <a href="products_second.html?t=8" i18n="Coated Steel Pipe">Coated Steel Pipe</a>
                      <ul class="sub-menu">
                        <li><a href="product/CSP/FBE.html" i18n="FBE">FBE</a></li>
                        <li><a href="product/CSP/E.html" i18n="Epoxy">Epoxy</a></li>
                        <li><a href="product/CSP/3LPP.html" i18n="3LPP">3LPP</a></li>
                        <li><a href="product/CSP/3LPE.html" i18n="3LPE">3LPE</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="projects.html" i18n="Projects">Projects</a>
                </li>
                <li>
                  <a href="#" i18n="News">News</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="#" i18n="Quality">Quality</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="quality-testing-equipment.html?p=1" i18n="TESTING EQUIPMENT">TESTING EQUIPMENT</a>
                    </li>
                    <li>
                      <a href="quality-3rd-party-inspection.html" i18n="3RD PARTY INSPECTION">3RD PARTY INSPECTION</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="contact.html" i18n="Contact">Contact</a>
                </li>
                <li class="menu-item-has-children">
                  <a href="#" i18n="Language">Language</a>
                  <ul class="sub-menu">
                    <li id="english">
                      <img
                        src="static/new_image/index/country/english.jpg"
                        style="
                          width: 30px;
                          display: inline-block;
                          float: left;
                          margin-right: 5px;
                          margin-top: 8px;
                          border-radius: 5px;
                        "
                      />
                      <a href="#">English</a>
                    </li>
                    <li id="español">
                      <img
                        src="static/new_image/index/country/spanish.jpg"
                        style="
                          width: 30px;
                          display: inline-block;
                          float: left;
                          margin-right: 5px;
                          margin-top: 8px;
                          border-radius: 5px;
                        "
                      />
                      <a href="#">Español</a>
                    </li>
                    <li id="pусский">
                      <img
                        src="static/new_image/index/country/france.jpg"
                        style="
                          width: 30px;
                          display: inline-block;
                          float: left;
                          margin-right: 5px;
                          margin-top: 8px;
                          border-radius: 5px;
                        "
                      />
                      <a href="#">Русский</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
<!-- mobile menu -->
<div class="mobile_logo_area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="mobilemenu_con">
          <div class="mobile_menu_logo text-center">
            <a href="index.html" title="metalplan">
              <img src="static/new_image/logo_new.jpg" alt="metalplan" />
            </a>
          </div>
          <div class="mobile_menu_option">
            <div class="mobile_menu_o mobile_opicon">
              <i class="icofont-navigation-menu openclass"></i>
            </div>
            <div class="mobile_menu_inner mobile_p">
              <div class="mobile_menu_content">
                <div class="mobile_menu_logo text-center">
                  <a href="index.html" title="metalplan">
                    <img src="static/new_image/logo_new.jpg" alt="metalplan" />
                  </a>
                </div>
                <div class="menu_area mobile-menu">
                  <nav class="metalplan_menu">
                    <ul class="sub-menu">
                      <li class="menu-item-has-children">
                        <a href="#">Home</a>
                        <ul class="sub-menu">
                          <li><a href="index.html">Home Main</a></li>
                          <li><a href="landing_page.html">Landing Page</a></li>
                          <li><a href="video_page.html">Video Page</a></li>
                        </ul>
                      </li>
                      <li><a href="">About</a></li>
                      <li class="menu-item-has-children">
                        <a href="#">Service</a>
                        <ul class="sub-menu">
                          <li><a href="metal_works.html">Metal Works</a></li>
                          <li>
                            <a href="manufacturing.html">Manufacturing</a>
                          </li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="">Page</a>
                        <ul class="sub-menu">
                          <li class="menu-item-has-children">
                            <a href="#">Portfolio</a>
                            <ul class="sub-menu">
                              <li>
                                <a href="portfolio_2column.html"
                                  >Portfolio-2Column</a
                                >
                              </li>
                              <li>
                                <a href="portfolio_3column.html"
                                  >Portfolio 3Column</a
                                >
                              </li>
                              <li>
                                <a href="portfolio_4column.html"
                                  >Portfolio 4Column</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li><a href="pricing_plan.html">Pricing Plan</a></li>
                          <li class="menu-item-has-children">
                            <a href="team.html">Team</a>
                            <ul class="sub-menu">
                              <li>
                                <a href="team_details.html">Team Details</a>
                              </li>
                            </ul>
                          </li>
                          <li><a href="faqs.html">Faq’s</a></li>
                          <li><a href="feature.html">Feature</a></li>
                          <li><a href="Clients.html">Our Clients</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                          <li><a href="blog.html">Blog Gird</a></li>
                          <li>
                            <a href="blog_left_sidebar.html"
                              >Blog Left Sidebar</a
                            >
                          </li>
                          <li>
                            <a href="blog_right_sidebar.html"
                              >Blog Right Sidebar</a
                            >
                          </li>
                        </ul>
                      </li>
                      <li><a href="contact.html">Contact</a></li>
                    </ul>
                  </nav>
                </div>
                <div class="mobile_menu_o mobile_cicon">
                  <i class="icofont-close closeclass"></i>
                </div>
              </div>
            </div>
            <div class="mobile_overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Mobile Menu -->

<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/theme.js"></script>

<script src="static/js/jquery.i18n.js"></script>
<script src="static/i18n/index.js"></script>